[submodule "lib/twitter-bootstrap"]
	path = lib/twitter-bootstrap
	url = git://github.com/twitter/bootstrap.git
[submodule "lib/yuicompressor"]
	path = lib/yuicompressor
	url = git://github.com/yui/yuicompressor.git
