---
layout: default
title: Pulse for iOS Blog
---
<header>
    <div class="container">
        <div class="hero-unit">
            <h1>Pulse for iPhone and iPad Blog</h1>
            <p>
                News, discussions, thoughts, and announcements about the **unofficial**
                Pulse client for iPhone and iPad devices.
            </p>
        </div>
    </div>
</header>
<section id="content">
    <div class="container">
        <div class="row">
            <div class="span8">
                <ul class="unstyled">
                    {% for post in paginator.posts %}
                    <article>
                        <header>
                            <h2><a href="{{site.url}}{{post.url}}">{{post.title}}</a></h2>
                            <time datetime="{{post.date | date_to_xml_schema}}" pubdate>{{post.date | date_to_long_string}}</time>
                        </header>
                        <p>{{post.description}}</p>
                        <p><a href="{{site.url}}{{post.url}}">Read</a></p>
                    </article>
                    {% endfor %}
                </ul>
                <ul class="pager">
                    {% if paginator.next_page %}
                        <li class="previous"><a href="page{{paginator.next_page}}">&larr; Older</a></li>
                    {% else %}
                        <li class="previous disabled"><a href="#">&larr; Older</a></li>
                    {% endif %}
                    {% if paginator.previous_page %}
                        <li class="next"><a href="page{{paginator.previous_page}}">Newer &rarr;</a></li>
                    {% else %}
                        <li class="next disabled"><a href="#">Newer &rarr;</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="span4">

            </div>
        </div>
    </div>
</section>