<!DOCTYPE html>
<html>
    <head>
        <title>{{page.title}}</title>
        <link rel="stylesheet" href="{{site.url}}/css/{{site.theme}}.css"/>
        <link rel="alternate" type="application/rss+xml" href="{{site.url}}/rss.xml" title="Pulse for iOS"/>
        <meta name="description" content="{{page.description}}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        {% include googleanalytics.html %}
    </head>
    <body>
        {% include navbar.html %}
        {% include githubribbon.html %}
        {{content}}
        {% include footer.html %}
        {% include scriptblock.html %}
    </body>
</html>